@import "../../../pages/Admin/responsive.scss";

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;

  .logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 10px;
    width: 20px;

    img {
        width: 20px;
    }
  }
  .icons {
    display: flex;
    align-items: center;
    gap: 20px;

    .icon{
      @include sm{
        display: none;
      }
    }

    .notification {
      position: relative;

      .bellIcon {
        width: 17px;
        height: 17px;
      }

      span {
        background-color: red;
        color: white;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        position: absolute;
        top: -8px;
        right: -7px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 9px;
      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      .userIcon {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
