@import "../../../pages/Admin/variables.scss";
@import "../../../pages/Admin/responsive.scss";


.menu {
  
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
    margin-left: -150px;
    width: 150px;

    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;
      margin-bottom: 10px;
      margin-top: 5px;
    
        

    //   .icon {
    //     padding-left: 20px;
    //   }

      
      @include lg{
        display: none;
      }
    }
    // .listItemtitle {
    //     margin-left: 10px;
    //   }

    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      border-radius: 5px;

      &:hover {
        background-color: $soft-bg;
      }

      .listItemTitle{
        // margin-top: 5px;
        padding-top: 5px;
        @include lg{
          display: none;
        }
      }
    }
  }
}
