/* =================== HOME ===================== */

#home {
    width: 100%;
    height: 100vh;
    background-color: #151515;
    background-repeat: no-repeat;
    background-position: center 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    position: relative;
    z-index: 100;
}

#home .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: #06001a;
}
#home .demi-overlay {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    opacity: 0.1;
    background-color: #06001a;
}

#home .gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85) 0%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d9000000', endColorstr='#00000000',GradientType=0 );
}

.home-content-table {
    width: 100%;
    height: 100%;
    display: table;
    position: relative;
    text-align: center;
}

.home-content-tablecell {
    display: table-cell;
    vertical-align: middle;
    z-index: 500;
}

.home-content-tablecell .row {
    position: relative;
    padding-top: 16.2rem;
    padding-bottom: 15rem;
}

.col-twelve {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content-tablecell h3 {
    font-family: 'Lato', sans-serif;
    font-size: 4rem;
    color: rgb(232, 98, 34);
    /* color: #fff; */
    /* border: 1px solid red; */
    /* border-bottom: 3px solid rgb(232, 98, 34); */
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin: 0 0 2rem 0;
    font-weight: 400;
    animation: fadeInUp 2s ease;
    /* border: 1px solid gray; */
    width: 80% !important;
}

.js .animate-this,
.js .animate-intro {
    opacity: 0;
}

.oldie .animate-this,
.oldie .animate-intro .no-cssanimations .animate-this,
.no-cssanimations .animate-intro {
    opacity: 1;
}

.home-content-tablecell h1 {
    font-size: 3rem;
    letter-spacing: 5px;
    line-height: 1.133;
    color: #ffffff;
    animation: fadeInUp 1s ease;
}

.home-content-tablecell .more {
    animation: fadeInUp 1s ease;
    margin: 4.8rem 0 0 0;
}
.home-content-tablecell .more .button {
    padding: 20px 50px 20px 50px;
    /* border: 2px solid #24303B; */
    border: 2px solid #fff;
    color: #fff;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    letter-spacing: 5px;
    font-weight: 900;
    backdrop-filter: blur(20px);
}

.scrolldown {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(90deg);
    transform-origin: right top 0;
    float: right;
}

.scrolldown i {
    padding-left: 9px;
}

html[data-useragent*='MSIE 10.0'] .scrolldown,
.oldie .scrolldown {
    display: none;
}

.scroll-icon {
    display: inline-block;
    font-family: 'montserrat-bold', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.3rem;
    color: rgb(232, 98, 34) !important;
    background: transparent;
    position: relative;
    top: 36px;
    right: 42px;
    -webkit-animation: animate-it 3s ease infinite;
    animation: animate-it 3s ease infinite;
}

/* ================== ANIMATION ================== */

@keyframes animate-it {
    0%,
    60%,
    80%,
    100% {
        -webkit-transform: translateX(0);
    }
    20% {
        -webkit-transform: translateX(-5px);
    }
    40% {
        -webkit-transform: translateX(20px);
    }
}

@keyframes animate-bars {
    0%,
    60%,
    80%,
    100% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(-7deg);
    }
    40% {
        -webkit-transform: rotate(0deg);
    }
    60% {
        -webkit-transform: rotate(7deg);
    }
    80% {
        -webkit-transform: rotate(0deg);
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* =================== RESPA =================== */

@media (max-width: 780px) {
    .home-content-tablecell h3 {
        font-size: 7vw;
        width: 45vw;
        border-bottom: none;
    }

    .home-content-tablecell h1 {
        font-size: 6vw;
    }
}

@media (max-width: 480px) {
    .home-content-tablecell h3 {
        font-size: 6vw;
        width: 45vw;
        border-bottom: none;
    }

    .home-content-tablecell .more {
        animation: fadeInUp 1s ease;
        margin: 4.8rem 0 0 0;
    }

    .home-content-tablecell .more .button {
        padding: 15px 15px 15px 15px;
        border: 2px solid #fff;
        color: #fff;
        font-size: 2;
    }
}


/* =================== HOME ===================== */
