
h1.h1__journal {
    margin-bottom: 20px;
    font-size: 50px;
    margin-bottom: 20px;
}

.log {
    animation: tonga .6s ease;
    width: 100%;
    height: 70vh;
    overflow-y: scroll;
    padding: 20px;
    border: 1px solid #384256;
    // background: #f3f3f3;
    box-shadow: rgba(0, 0, 0, .8) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    // background: #e0e0e0;
    border-radius: 20px;
    position: relative;
    
    .journal {
        width: 100%;
        align-items: center;
        padding: 20px;
        border: 2px solid #384256;
        // background: #e0e0e0;
        // background-color: #fff;
        box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
        // color: #000;
        border-radius: 15px;
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h2 {
            font-size: 18px;
            font-weight: normal;
        }

        h2.date {

        }
    }
}