.Habillage_presenatation .pres {
    width: 50%;
}


.Habillage_presenatation img.image_parallaxe {
    height: 447px;
    width: 100%;
}

/* ===================== IMAGE PARALLAX ======================= */


/* ===================== DESCRIPTION ======================= */

.Habillage_presenatation {
    margin: 0;
    width: 100%;
    height: 450px;
    display: flex;
    /* background: none; */
    /* background-color: rgba(227, 226, 226, 0.621); */
    backdrop-filter: blur(3px);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    background-color: #0900210a;
}

.Habillage_presenatation.pres2{
    display: flex;
    flex-direction: row-reverse;
}

.Habillage_presenatation.pres2 .description .desc_box .button_intrested_start {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: center;
    align-items: flex-end;
}

.button_intrested_start {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  
  

.Habillage_presenatation .description {
    width: 50%;   
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Habillage_presenatation .description .desc_box .title {
    font-weight: 500;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.desc_box h2 {
    color: #090021;
    margin-bottom: 1rem;
}


/* ===================== DESCRIPTION ======================= */

/* ------------- separation ------------ */

.separation {
    width: 100%;
    height: 250px;
    background: rgb(255, 255, 255);
    position: absolute;
    display: none;
}

.separation .grid-overlay {
    opacity: 1;
}

/* ------------- separation ------------ */

.gallery {
    padding-top: 100px;
}

@media (max-width: 1024px) {
    .Habillage_presenatation .description .desc_box .title {
        font-size: 2.5rem;
        font-weight: 500;
        width: 100%;
    }

    .Habillage_presenatation {
        height: 300px;
    }

    .separation {
        height: 200px;
    }

    .Habillage_presenatation img.image_parallaxe {
        max-height: 296px;
        width: 100%;
    }

}

@media (max-width: 630px) {

    .Habillage_presenatation {
        display: flex;
        background-color: rgb(239, 238, 238);
        flex-direction: column !important;
    }

    .Habillage_presenatation .description {
        width: 100%;
    }

    .Habillage_presenatation .pres {
        width: 100%;
        height: 225px;
    }

    .Habillage_presenatation img.image_parallaxe {
        height: 225px !important;
        width: 100%;
    }    

    .Habillage_presenatation {
        min-height: 450px;
    }
}

