

.dataTable{
    padding-bottom: 10px;
    .dataGrid{
      background: white;
      padding: 20px;
  
      .MuiDataGrid-toolbarContainer{
        flex-direction: row-reverse;
      }
      .MuiDataGrid-virtualScrollerRenderZone{
        background-color: rgb(233, 230, 230);
        // white-space: wrap;

        .MuiDataGrid-row {
          // min-height: 150px;
          // max-height: 150px;
          .MuiDataGrid-cell{
            white-space: wrap;
            overflow: auto;
          }
        }
      }

      .imgprod {
        border-radius: 5px;
        object-fit: fill;
    }
        
  
      img{
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
  
      .action{
        display: flex;
        gap: 5px;
  
        img{
          width: 20px;
          // height: 20px;
          cursor: pointer;
          object-fit: fill;
        }
      }
    }
  }