.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
    margin-top: 5px;

    span{
  
      &:first-child{
        padding-left: 30px;
        font-weight: bold;
      }
  
      &:last-child{
        padding-right: 25px;
        font-size: 14px;
      }
    }
  } 