.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 9px;
    padding-bottom: 10px;
    // margin-top: -20px;

    span{
  
      &:first-child{
        font-weight: bold;
      }
  
      &:last-child{
        font-size: 14px;
      }
    }
  } 