@import "../../../pages/Admin/responsive.scss";
@import "../../../pages/Admin/variables.scss";

.topBox {
  h1 {
    margin-bottom: 20px;

    @include xxl{
      font-size: 24px;
    }
  }

  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
      padding-bottom: 20px;
      border-bottom: $soft-bg 2px solid;

      .user {
        display: flex;
        gap: 20px;

        img {
          width: 40px;
          height: 40px;
        //   border-radius: 50%;
          object-fit: fill;

          @include xxl{
            display: none;
          }
          @include lg{
            display: block;
          }
        }

        .userTexts {
          display: flex;
          flex-direction: column;
          gap: 5px;

          .productCategorie {
            font-size: 14px;
            font-weight: 500;
          }
          .email {
            font-size: 12px;
            width: 80%;

            @include xxl{
              display: none;
            }
            @include lg{
              display: block;
            }
          }
        }
      }

      .amount {
        font-weight: 500;
      }
    }
  }
}
